body {
    font-family: 'Montserrat', sans-serif;
}


/* LOGO */

#logo {
    margin-top: 1em;
   text-align: center;
   border: 0px;
}

.title h1 {
    color: #FFF;
    background-color: #000;
    text-align: center; 
    max-width: 100%;
    height: auto;
    margin-bottom: 0px;
}


/* ARQUITECTURA */

#architecture h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

#architecture a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

#architecture a:hover {
    color: #333;
}

#architecture {
    background-color: #ff9aa2;
    max-width: 100%;
    height: auto;
    margin: 500px #ff9aa2;
    border: 500px #ff9aa2;
    padding: 1em;
    flex-direction: row;
}

#architecture .image {
    text-align: center;
}

#architecture .image img {
    height: 500px;
    width: 500px;
    object-fit: contain;
    text-align: center;
    margin: 20px;
}

#architecture .image iframe {
    height: 400px;
    width: auto;
    object-fit: cover;
    margin: 20px;
    padding-bottom: 52px;
}

/* DISEÑO */

#design h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

#design a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

#design a:hover {
    color: #333;
}

#design {
    background-color: #ffb7b2;
    max-width: 100%;
    height: auto;
    margin: 500px #ff9aa2;
    border: 500px #ff9aa2;
    padding: 1em;
    flex-direction: row;
}

#design .image {
    text-align: center;
}

#design .image img {
    height: 500px;
    width: 500px;
    object-fit: contain;
    text-align: center;
    margin: 20px;
}


/* ARTE */

#art h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

#art a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

#art a:hover {
    color: #333;
}

#art {
    background-color: #ffdac1;
    max-width: 100%;
    height: auto;
    margin: 500px #ffb7b2;
    border: 500px #ffb7b2;
    padding: 1em;
    flex-direction: row;
}

#art .image {
    text-align: center;
}

#art .image img {
    height: 500px;
    width: 500px;
    object-fit: contain;
    text-align: center;
    margin: 20px;
}


/* TECNOLOGIA */

#tech h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

#tech a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

#tech a:hover {
    color: #333;
}

#tech {
    background-color: #e2f0cb;
    max-width: 100%;
    height: auto;
    margin: 500px #ffb7b2;
    border: 500px #ffb7b2;
    padding: 1em;
    flex-direction: row;
}

#tech .image {
    text-align: center;
}

#tech .image img {
    height: 500px;
    width: 500px;
    object-fit: contain;
    text-align: center;
    margin: 20px;
}


/* INTERIOR */

#int h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

#int a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

#int a:hover {
    color: #333;
}

#int {
    background-color: #b5ead7;
    max-width: 100%;
    height: auto;
    margin: 500px #ffb7b2;
    border: 500px #ffb7b2;
    padding: 1em;
    flex-direction: row;
}

#int .image {
    text-align: center;
}

#int .image img {
    height: 500px;
    width: 500px;
    object-fit: contain;
    text-align: center;
    margin: 20px;
}


/* EXTERIOR */

#ext h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

#ext a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

#ext a:hover {
    color: #333;
}

#ext {
    background-color: #c7ceea;
    max-width: 100%;
    height: auto;
    margin: 500px #ffb7b2;
    border: 500px #ffb7b2;
    padding: 1em;
    flex-direction: row;
}

#ext .image {
    text-align: center;
}

#ext .image img {
    height: 500px;
    width: 500px;
    object-fit: contain;
    text-align: center;
    margin: 20px;
}


/* FOOTER */

.footer {
    background-color: rgba(12, 12, 12, 0.9);
    height: 80px;
    line-height: 80px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.footer a {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 60px;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 100;
    text-decoration: none;
}

.footer a p {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}


/* TOPNAV */

.topnav {
    position: sticky;
    background-color: #fff;
    overflow: hidden;
    top: 0;
}

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #fff;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav .logosm {
    width: 20px;
    max-height: 100%;
}


/* RETURN TOP */

.renew {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    box-shadow: 0px 2px 4px 000;
}

svg {
    height: 40px;
    width: 40px;
    padding-top: 9px;
}

@media (max-width: 1120px) {}

@media (max-width: 600px) {
    body {
        flex-direction: row;
    }
}
