body {
    font-family: 'Montserrat', sans-serif;
}

#architecture {
    background-color: #ff9aa2;
    max-width: 100%;
    height: auto;
    margin: 500px #ff9aa2;
    border: 500px #ff9aa2;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1.5em;
    flex-direction: row;
}

#architecture a {
    text-decoration: none;
}

#architecture h3 {
    color: #FFF;
    box-shadow: 1px solid black;
    font-size: 20px;
}

#architecture .row {
    justify-content: baseline;
}

#architecture .row .column {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#design {
    background-color: #ffb7b2;
    max-width: 100%;
    height: auto;
    margin: 500px #ffb7b2;
    border: 500px #ffb7b2;
}

#art {
    background-color: #ffdac1;
    max-width: 100%;
    height: auto;
}

#technology {
    background-color: #e2f0cb;
    max-width: 100%;
    height: auto;
}

#interior {
    background-color: #b5ead7;
    max-width: 100%;
    height: auto;
}

#exterior {
    background-color: #c7ceea;
    max-width: 100%;
    height: auto;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


/* img { 
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  padding: 0px;
} */

iframe {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.title {
    text-align: center;
}

.title h2 {
    margin-top: -0.8em;
}

#arch {
    padding-top: 1.7em;
    text-decoration: none;
}

#logo {
    margin-top: 1em;
    text-align: center;
}

.topnav {
    margin: 1em;
    padding: 1.5em;
    background-color: black;
}

.topnav a {
    justify-content: space-around;
    color: #fff;
    text-decoration: none;
}

#arch h3 {
    text-decoration: none;
    color: #FFF;
}